*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background: black;

}

#btn1, #text1{
background: white;
}

#canvas1 { 
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--width-var);
    height: var(--height-var);

}
